[Unit]
Description=Aerie Space Station 14 Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=aerie
Group=aerie
WorkingDirectory=/opt/aerie/current
ExecStart=/usr/local/bin/aerie-run-server
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
TimeoutStopSec=90
LimitNOFILE=1048576
Environment=DOTNET_gcServer=1

[Install]
WantedBy=multi-user.target
